@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

html, body {
    background: whitesmoke;

    margin: 0;
    min-height: 100vh;
}
.navedit {
    width:85%;
    list-style-type: none;
    font-family: Garamond;
    font-size: 1.9vw;
    font-weight: 500;
    background-color: transparent;
    color: white;
    margin: 2%;
    padding: 0;
}
.redu {
    width: 95%;
}
.navedit2 {
    width:90%;
    list-style-type: none;
    font-family: Garamond;
    font-size: 1.4vw;
    font-weight: 500;
    padding: 0;
    background-color: transparent;
    color: white;
    margin: 2%;

}

.arredondamento {
    border-radius: 120px;
}
.setinha {
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.hov:hover {
    color: #ADD8E6;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}
.banner {
    width: 42%;
    height: auto;
    margin-left: 1%;
    margin-top: 5%;
    
}
.fundo {
      position: relative;
}
.fundo3 {
      position: relative;
      
}
.fundo3 .ornamento {
  width: 100%;
  height: 100%;
  object-fit: cover; /* preenche a div mantendo proporção, sem repetir */
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 0;
}

.fundo3 .conteudo {
  position: relative;
  z-index: 2; /* garante que texto fique acima da imagem e overlay */
  color: white;
 
  
}

.imagem2 {
    width: 30%;
    height: auto;
}
.top {
     font-family: "helvetica neue", sans-serif;
    margin-top: 5%;
}
.fundo3::before {
  
    content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.347), rgb(15, 27, 18)); /* overlay semi-transparente */
  z-index: 1;
}
.fundo2 {
    position: relative;
}
.mini {
    height: auto;
    width: 6%;
    object-fit: contain;
    margin-top: 0;
    padding: 0;
    margin: 0;
 
}
.mini2 {
    width: 6%;
    height: auto;
     object-fit: contain;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0.5%;
    padding: 0;
}

.fundo .ornamento {
  width: 100%;
  height: 100%;
  object-fit: cover; /* preenche a div mantendo proporção, sem repetir */
  position: absolute;
  
  top: 0;
  left: 0;
  z-index: 0;
}
.fundo .conteudo {
  position: relative;
  
  z-index: 2; /* garante que texto fique acima da imagem e overlay */
  color: white;
  
}
.fundo2 .ornamento {
  width: 35%;
  height: auto;
  object-fit: cover; /* preenche a div mantendo proporção, sem repetir */
  position: absolute;
  opacity: 0.08;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  z-index: 0;
}
.fundo2 .conteudo {
  position: relative;
  z-index: 2; /* garante que texto fique acima da imagem e overlay */


}                                                                                                                                       
.push {                                     
    margin-top: 6%; 
    margin-bottom: 6%;   
}
.push2 {                                     
    margin-top: 6%; 
    margin-bottom: 6%;   
}
.muerte {
    width: 20%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 5px;
}
.fundo2::before {
  opacity: 0.1;
  content: "";
  position: absolute;
  inset: 0;
   /* overlay semi-transparente */
  z-index: 1;
}
.fundo::before {
  
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(10,10,20,0.8)); /* overlay semi-transparente */
  z-index: 1;
}
.fontebanner {
    font-size: 5vw;
    font-family:'RocknRoll One', sans-serif;
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
}

.ig{
    width:50%;
    margin-left: 5%;
    margin-top: 5%;
}
.vilage {
    width: 55%;
    height: 45%;
    margin-bottom: 5%;
    border-radius: 30px;
    box-shadow: -8px 8px 20px rgba(30, 22, 17); 
}
.fontebanner2 {
       font-family:'Pacifico', cursive;
       font-size: 3vw;
}
.weight-bold {
    font-weight: bold;
}

.principal {
      margin-top: 10%;
      margin-bottom: 0;
}
.principal2 {
      margin-top: 7%;
      margin-bottom: 0;
      width: 95%;
}
.butao {
    margin-top: 5%;
    width: 20%;
    font-family: garamond;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: #2C2C2C;
    color: white;
    padding: 0.5%;
    margin-bottom: 3%;

}
.butao2 {
    margin-top: 5%;
    width: 20%;
    font-family: garamond;
    font-size: 1.5vw;
    border-radius: 25px;
    background: transparent;
    border: 3px solid #ADD8E6;
    color: white;
    padding: 0.5%;
    margin-bottom: 3%;

}
.butao2:hover {
    background-color:  #ADD8E6;
    color: rgb(51, 39, 39);
}
.butao3 {
    margin-top: 5%;
    width: 30%;
    font-family: garamond;
    font-size: 1.5vw;
    border-radius: 25px;
    background: transparent;
    border: 3px solid #000000;
    color: rgb(0, 0, 0);
    padding: 0.5%;
    margin-bottom: 3%;

}
.butao3:hover {
    background-color:  #ADD8E6;
    color: rgb(82, 80, 80);
}
.butao4 {
    margin-top: 5%;
    width: 20%;
    font-family: garamond;
    font-size: 1.5vw;
    border-radius: 25px;
    background: transparent;
    border: 3px solid #000000;
    color: rgb(0, 0, 0);
    padding: 0.5%;
    margin-bottom: 3%;

}
.butao4:hover {
    background-color:  #ADD8E6;
    color: rgb(82, 80, 80);
}
.janela {
    width: 48%;
    margin-bottom: 3%;
}
.imagem {

    width: 100%;
    margin: 0;
    border: 3px solid black; 
    box-shadow: -8px 8px 20px rgba(0,0,0,0.7); 
    border-radius: 6px;
    
}
.alt {
    height: 90%;
    
}
.cita{
    font-size: 1.3vw;
    font-family: Garamond;
    margin-top: 0;  
    margin-bottom: 5%;
    text-align: justify;
}
.larg {
    width: 40%;
}
.larg3 {
    width: 70%;
}
.larg4 {
    width: 95%;
}
.dark {
    background-color: black;
    color: white;
}
.larg2 {
    width: 55%;
}
.fundador {
    width: 30%;
    margin: 0;
    border: 3px solid black; 
    box-shadow: -8px 8px 20px rgba(0,0,0,0.7); 
    border-radius: 6px; 
}

.secajuste {
    margin-top: 5%;
    width: 100%;

}
.margen {

    margin-right: 4%;
}


.fontesub{
    font-size: 2.3vw;
    font-family: "helvetica neue", sans-serif;
    margin-top: 0;
    margin-bottom: 2%;
    font-weight: bolder;
    
}
.fontecaminhada {
    font-size: 2vw;
    font-family: Garamond;
    margin-top: 0;  
    margin-bottom: 10%;
    text-align: justify;
    
}
.fontezinha {
    font-family: Garamond;
    font-weight: bold;
    font-size: 3vw;
}

.gara {
    font-family: Garamond;
    font-size: 2vw;
}
.gap {
    display: flex;
    justify-content: start;
    gap: 2%;
}
.gap2 {
    display: flex;
    justify-content: start;
    gap: 4%;
}
.fontecaminhada2 {
    font-size: 1.5vw;
    font-family: Garamond;
    margin-top: 0;
    margin-bottom: 3%;
    text-align: justify;
    
}
.fontecaminhada3 {
    font-size: 1.5vw;
    font-family: Garamond;
    margin-top: 0;
    margin-bottom: 3%;
    text-align: justify;
    font-weight: bolder;  
}
.redondo {
    margin-bottom: 2%;
}
.fontecaminhada6 {
    font-size: 1.5vw;
    font-family: Garamond;
    margin-top: 0;
    margin-bottom: 2%;
    text-align: justify;
    font-weight:  medium;  
    min-width: 7%;
}
.borda {
    border: 3px solid white;
    border-radius: 40px;
    margin-bottom: 3%;
}
.fontecaminhada7 {
    font-size: 1.5vw;
    font-family: Garamond;
    margin-top: 0;
    margin-bottom: 2%;
    text-align: justify;
    font-weight:  medium;  
    min-width: 14%;
}
.lado {
    margin-right: 4%;
}
.input1 {
    width: 20%;
    height: 100%;
    margin-bottom:3%;
    border: 2px solid black;
    padding: 1%;
    color: black;
}
.input2 {
    width: 80%;
    height: 100px;
    border: 2px solid black;
    color: black;
}
.input3 {
    width: 50%;
     padding: 1%;
    margin-bottom:3%;
      border: 2px solid black;
    color: black;
}
@media(max-width: 1200px){
    .imagem{
        width: 55%;

    }
}
@media(max-width: 1024px) {
    .fontebanner {
        font-size: 4vw;
   
    }
    .banner {
        width: 45%;
       
    }
    .ornamento {
        width: 100%;
    }
    .navedit {
        font-size: 2vw;
   
    }
    .navedit2 {
        font-size: 2vw;
   
    }
    .mini2 {
        width:6%;
    }
    .principal {
      margin-top: 10%;
      margin-bottom: 10%;
    }
    .butao {
        font-size: 3.5vw;
    }
    .imagem {
        width: 80%;
        margin: 0;
        border: 3px solid black; 
        box-shadow: -8px 8px 20px rgba(0,0,0,0.7); 
        border-radius: 6px; 
    }
    .fontebanner {
        font-size: 6vw;
   
    }
    .fontesub {
        font-size: 4vw;
        
    }
    .butao2 {
    width: 25%;
    font-size: 3vw;
   
    }
    .butao4 {
    width: 25%;
    font-size: 2vw;
   
    }
     .fontecaminhada {
        font-size: 1.6vw;
    }
     .fontecaminhada2 {
        font-size: 1.6vw;
    }
    .cita {
        font-size: 1.6vw;
    }
    .fontecaminhada3 {
        font-size: 1.6vw;
    }
    .fontecaminhada6 {
        font-size: 1.8vw;
    
    }
    .fontecaminhada7 {
    font-size: 1.8vw;
    min-width: 17%;

}   

}

@media(max-width: 768px) {
    .fontebanner {
        font-size: 7vw;
   
    }
    .fontezinha {
        font-size: 5vw;
    }
    .gara {
        font-size: 4vw;
    }
    .fontesub {
        font-size: 4.5vw;
        
    }
    .ornamento {
        width: 100%;
    }
    .butao {
        font-size: 3.5vw;
    }
    .fontecaminhada {
        font-size: 2.8vw;
    }
     .fontecaminhada2 {
        font-size: 2.8vw;
    }
    
    .banner {
        width: 70%;
       
    }
      .fontebanner2 {
        font-size: 5vw;
   
    }
    .principal {
        height: 80%;
         margin-top: 0%;
      margin-bottom: 0%;
    }
    .navedit {
        font-size: 3vw;
        
   
    }

    .navedit2 {
        font-size: 3vw;
   
    }
    .fundo {
        height: 80vw;
    }
    .butao2 {
    width: 40%;
    font-size: 3.5vw;
   
    }
    .butao4 {
    width: 30%;
    font-size: 2.5vw;
   
    }
    .butao3 {
    width: 35%;
    font-size: 3vw;
   
    }
   
   .mini {
    height: auto;
    margin-top: 0;
    width: 8%;
   }
   .mini2 {
    width: 8%;
   }
    .cita {
        font-size: 2.8vw;
        
    }
     .fontecaminhada3 {
        font-size: 2.8vw;
    }
     .fontecaminhada6 {
    font-size: 2.5vw;

}
 .fontecaminhada7 {
    font-size: 2.3vw;

}
    .muerte{
        width:40%;
    }
    .fundador{
        width: 35%;
    }
    .janela{
        width: 55%;
    }
    .vilage{
        width: 45%;
    }
}
@media (max-width: 480px){
    .butao4 {
    width: 35%;
    font-size: 3.5vw;
   
    }
    .fontebanner {
        font-size: 8vw;
   
    }

     .fontezinha {
        font-size: 7vw;
    }
    .gara {
        font-size: 5.5vw
    }
    .fundo {
        height: 100vw;
    }
    
   .mini {
    height: auto;
    width: 8%;
    margin-top: 0;
   
   }
    .fontecaminhada7 {
    font-size: 2.8vw;

}
    .muerte {
        width: 45%;
    }
    .butao {
        font-size: 4.4vw;
    }
    .cita {
        font-size: 3.6vw;
        
    }
    .input3 {
        width: 90%;
    }
  
    .butao3 {
    width: 45%;
    font-size: 4.2vw;
   
    }
   
    .fontebanner2 {
        font-size: 6vw;
   
    }
    
    .fundo {
      position: relative;
        width: 100%;
       
  
    }
      .fontecaminhada {
        font-size: 3.6vw;
    }
     .fontecaminhada2 {
        font-size: 3.5vw;
    }
    .imagem {
        width: 100%;
    }
    .janela {
        width: 75%;
    }
    .butao2 {
    width: 45%;
    font-size: 4.4vw;
        

}   
    .fontecaminhada3 {
        font-size: 3.6vw;
    }
     .fontecaminhada6 {
    font-size: 3.2vw;

}
    .fundador {
        width: 45%;
    }
    .principal {
      margin-top: 10%;
      margin-bottom: 7%;
    }
    .navedit {
        margin-top: 2%;
        
   
    }
}


